main .contact-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-inline: auto;
}

main .contact-container .contact-item {
  padding: 1.5rem;
  border-radius: 16px;
  background-color: burlywood;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

main .contact-container .contact-item .contact-item__image img {
  height: 200px;
  border-radius: 9999px;
}

main .contact-container .contact-item .contact-item__info {
  flex-grow: 1;
}

main .contact-container .contact-item .contact-item__info h3 {
  font-size: 1.35rem;
}
